body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", c,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  font-family: "Segoe UI";
  background-color: #d8e7ee;
  width: 600px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h1,
h2 {
  color: #8abdc5;
  margin: 0;
}

.title {
  margin-bottom: 20px;
  font-family: "Courier New";
}

.contacts {
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
